html,body{
    margin: 0;
    padding: 0;
}
#outer{
    height: 100vh;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 50px;
    padding: 10px 20px;
    font-size: x-large;
    color: mediumslateblue;
    background-color: palegreen;
}
svg{
    height: 200px;
}